<md-card>
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools" ng-hide="vm.filter.show">
			<h2 class="md-title">Lịch sử kiểm kho</h2>
			<div flex></div>
			<md-button class="md-primary" ui-sref="app.category.create">Kiểm kho <md-icon>add</md-icon></md-button>
		</div>
		<div class="md-toolbar-tools" ng-show="vm.filter.show">
			<md-icon>search</md-icon>
			<form flex name="vm.filter.form">
				<input type="text" ng-model="vm.filter.query.keyword" ng-model-options="vm.filter.options" placeholder="Search" md-autofocus>
			</form>
			<md-button class="md-icon-button" ng-click="vm.filter.remove()">
				<md-icon>close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-table-container>
		<table md-table md-row-select multiple ng-model="vm.selectedRows" md-progress="vm.promise">
			<thead md-head md-order="vm.filter.query.order" md-on-reorder="vm.getPromise">
				<tr md-row>
					<th md-column md-order-by="id"><span>ID</span></th>
					<th md-column md-numeric md-order-by="amount"><span>Chênh lệch</span></th>
					<th md-column md-order-by="note">Ghi chú</th>
					<th md-column md-order-by="userName">Người nhập</th>
					<th md-column md-numeric md-order-by="createdTime">Thời gian</th>
					<th md-column md-numeric></th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-select="item" md-select-id="id" ng-repeat="item in vm.items">
					<td md-cell>{{item.id}}</td>
					<td md-cell>{{item.amount | number}}</td>
					<td md-cell>{{item.note}}</td>
					<td md-cell>{{item.userName}}</td>
					<td md-cell><span am-time-ago="item.createdTime"><md-tooltip>{{item.createdTime}}</md-tooltip></span></td>
					<td md-cell>
						<md-button class="md-icon-button" ng-click="vm.openDetail(item, $event)"><md-icon>open_with</md-icon></md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>

	<md-table-pagination md-limit="vm.filter.query.limit" md-limit-options="[5, 10, 20, 50, 100]" md-page="vm.filter.query.page" md-total="{{vm.itemsCount}}"
		md-on-paginate="vm.getPromise" md-page-select></md-table-pagination>
</md-card>