<md-card>
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools" ng-hide="vm.filter.show">
			<h2 class="md-title">Danh sách mặt hàng</h2>
			<div flex></div>
			<md-button class="md-icon-button" ng-click="vm.filter.show = true">
				<md-icon>search</md-icon>
			</md-button>
			<md-button class="md-primary" ui-sref="app.product.create">Thêm mới
				<md-icon>add</md-icon>
			</md-button>
		</div>
		<div class="md-toolbar-tools" ng-show="vm.filter.show">
			<md-icon>search</md-icon>
			<form flex name="vm.filter.form">
				<input type="text" ng-model="vm.filter.query.keyword" ng-model-options="vm.filter.options" placeholder="Search" md-autofocus>
			</form>
			<md-button class="md-icon-button" ng-click="vm.filter.remove()">
				<md-icon>close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="padding-20 input-no-margin" layout-gt-sm="row" flex>
		<md-input-container>
			<label>Nhóm sản phẩm (1 hoặc nhiều)</label>
			<md-select ng-model="vm.filter.query.categories" multiple>
				<md-option ng-value="category.id" ng-repeat="category in vm.Categories">{{category.name}}</md-option>
			</md-select>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Tìm sản phẩm</label>
			<input type="text" ng-model="vm.filter.query.keyword" ng-model-options="vm.filter.options" placeholder="Search" md-autofocus>
		</md-input-container>
	</div>
	<md-table-container>
		<table md-table md-row-select multiple ng-model="vm.selectedRows" md-progress="vm.promise">
			<thead md-head md-order="vm.filter.query.order" md-on-reorder="vm.getPromise">
				<tr md-row>
					<th md-column md-order-by="id"><span>ID</span></th>
					<th md-column><span>Ảnh</span></th>
					<th md-column md-order-by="name"><span>Tên đầy đủ</span></th>
					<th md-column md-numeric md-order-by="price"><span>Giá</span></th>
					<th md-column md-numeric md-order-by="coffeePrice"><span>Giá cà phê</span></th>
					<th md-column md-numeric md-order-by="originalPrice"><span>Giá gốc</span></th>
					<th md-column md-numeric md-order-by="inventory"><span>Trong kho</span></th>
					<th md-column md-numeric><span>Nhóm</span></th>
					<th md-column md-order-by="printer.name"><span>Máy in</span></th>
					<th md-column md-order-by="isActive"><span>Hiển thị</span></th>
					<th md-column md-numeric></th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-select="item" md-select-id="id" ng-repeat="item in vm.items">
					<td md-cell>{{item.id}}</td>
					<td md-cell>
						<div class="product-thumbnail">
							<img class="product-image" ng-src="{{vm.getImage(item.image)}}">
						</div>
					</td>
					<td md-cell>{{item.name}}</td>
					<td md-cell ng-click="vm.editInline($event, item, 'price', 'Giá bán')">{{item.price | number}}</td>
					<td md-cell ng-click="vm.editInline($event, item, 'coffeePrice', 'Giá cafe')">{{item.coffeePrice | number}}</td>
					<td md-cell ng-click="vm.editInline($event, item, 'originalPrice', 'Giá nhập')">{{item.originalPrice | number}}</td>
					<td md-cell ng-click="vm.editInline($event, item, 'inventory', 'Tồn kho hiện tại')">{{item.inventory | number}}</td>
					<td md-cell>{{ vm.formatCategory(item) }}</td>
					<td md-cell>
						<md-select ng-model="item.printerId" ng-change="vm.updatePrinter(item)" placeholder="Máy in">
							<md-option ng-value="printer.id" ng-repeat="printer in vm.Printers">{{printer.name}}</md-option>
						</md-select>
					</td>
					<td md-cell>
						<md-checkbox ng-model="item.isActive" aria-label="Active" disabled></md-checkbox>
					</td>
					<td md-cell>
						<md-button class="md-icon-button" ui-sref="app.product.edit({id: item.id})">
							<md-icon>edit</md-icon>
						</md-button>
						<md-button class="md-icon-button md-warn" ng-click="vm.destroy(item)">
							<md-icon>delete</md-icon>
						</md-button>
					</td>
				</tr>
				<tr md-row ng-show="!vm.items.length">
					<td md-cell colspan="10" class="md-warn md-hue-1">Không có dữ liệu, vui lòng tạo mới</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>

	<md-table-pagination md-limit="vm.filter.query.limit" md-limit-options="[5, 10, 20, 50, 100]" md-page="vm.filter.query.page"
	 md-total="{{vm.itemsCount}}" md-on-paginate="vm.getPromise" md-page-select></md-table-pagination>
</md-card>