<md-toolbar class="navigation-header md-whiteframe-1dp" layout="row" layout-align="space-between center">
    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-image">M</span>
        <span class="logo-text">MISAPAY+</span>
    </div>

    <md-icon class="fold-toggle s18" hide show-gt-sm
             ng-click="vm.toggleMsNavigationFolded()">compare_arrows</md-icon>
</md-toolbar>

<ms-navigation class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions"></ms-navigation>